.List {
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    height: 17rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .List {
        width: 100vw;
    }
}
