.Header {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    display: flex;
    font-size: 14px;
    height: 30vh;
    width: 95vw; 
    line-height: 56px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}